{% if resume.contacts and resume.contacts.length %}
<section class="section" id="{{ section.id }}" aria-labelledby="{{ section.id }}-title">
  <h2 class="section__title" id="{{ section.id }}-title">{{ section.title }}</h2>
  <ul class="contacts">
    {% for contact in resume.contacts %}
    <li><a class="button" href="{{ contact.url }}" data-contact="{{ contact.type }}">{{ contact.label }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}
